<!DOCTYPE html>
<html >

<head>
  <meta charset="UTF-8">
  <title>Predictive Stress Level</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['bar']});
      google.charts.setOnLoadCallback(drawStuff);

      function drawStuff() {
        var data = new google.visualization.arrayToDataTable([
          ['Models', 'Accuracy'],
          ["K nearest neighbors", 67],
          ["Decision tree", 86],
          ["Random forest", 98],
          ["Neural network", 85],
          ["Stack", 84]
        ]);

        var options = {
          title: 'Accuracy per Model',
          width: 700,
          legend: { position: 'none' },
          chart: { title: 'Accuracy per Model'},
          bars: 'horizontal', // Required for Material Bar Charts.
          axes: {
            x: {
              0: { side: 'top', label: 'Percentage'} // Top x-axis.
            }
          },
          bar: { groupWidth: "90%" }
        };

        var chart = new google.charts.Bar(document.getElementById('top_x_div'));
        chart.draw(data, options);
      };
    </script>
<!--<link rel="stylesheet" href="css/style.css">-->
  
</head>

<body>
 <div class="login">
	<h1>Predictive Stress Level</h1>
  <h2>Please indicate how often you have experience the following over the last academic year:</h2><br>
     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
      <div>
        <label>Low Energy: </label><select name="Q10_1" id="fuel" required="required">
        <option value="1">Never</option>
        <option value="2">Almost Never</option>
        <option value="3">Sometimes</option>
        <option value="4">Fairly Often</option>
        <option value="5">Very Often</option>
        </select>
      </div>

      <div>
        <label>Anxiety or tension: </label><select name="Q10_4" id="fuel" required="required">
        <option value="1">Never</option>
        <option value="2">Almost Never</option>
        <option value="3">Sometimes</option>
        <option value="4">Fairly Often</option>
        <option value="5">Very Often</option>
        </select>
      </div>
      
      <div>
        <label>Sleep problems: </label><select name="Q10_5" id="fuel" required="required">
        <option value="1">Never</option>
        <option value="2">Almost Never</option>
        <option value="3">Sometimes</option>
        <option value="4">Fairly Often</option>
        <option value="5">Very Often</option>
        </select>
      </div>
      
      <div>
        <label>Rapid heartbeat or palpitations: </label><select name="Q10_6" id="fuel" required="required">
        <option value="1">Never</option>
        <option value="2">Almost Never</option>
        <option value="3">Sometimes</option>
        <option value="4">Fairly Often</option>
        <option value="5">Very Often</option>
        </select>
      </div>
      
      <div>
        <label>Irritability: </label><select name="Q10_7" id="fuel" required="required">
        <option value="1">Never</option>
        <option value="2">Almost Never</option>
        <option value="3">Sometimes</option>
        <option value="4">Fairly Often</option>
        <option value="5">Very Often</option>
        </select>
      </div>
      
      <div>
        <label>Sadness or tearfulness: </label><select name="Q10_9" id="fuel" required="required">
        <option value="1">Never</option>
        <option value="2">Almost Never</option>
        <option value="3">Sometimes</option>
        <option value="4">Fairly Often</option>
        <option value="5">Very Often</option>
        </select>
      </div>
      
      <div>
        <label>Loneliness: </label><select name="Q10_12" id="fuel" required="required">
        <option value="1">Never</option>
        <option value="2">Almost Never</option>
        <option value="3">Sometimes</option>
        <option value="4">Fairly Often</option>
        <option value="5">Very Often</option>
        </select>
      </div>
      
      <div>
        <label>Feeling overloaded with university work: </label><select name="Q17_1" id="fuel" required="required">
        <option value="1">Never</option>
        <option value="2">Almost Never</option>
        <option value="3">Sometimes</option>
        <option value="4">Fairly Often</option>
        <option value="5">Very Often</option>
        </select>
      </div>

      <div>
        <label>Lack of time for relaxation: </label><select name="Q17_7" id="fuel" required="required">
        <option value="1">Never</option>
        <option value="2">Almost Never</option>
        <option value="3">Sometimes</option>
        <option value="4">Fairly Often</option>
        <option value="5">Very Often</option>
        </select>
      </div>
      
      
      <div>
        <label>Lack of confidence with academic performance: </label><select name="Q17_10" id="fuel" required="required">
        <option value="1">Never</option>
        <option value="2">Almost Never</option>
        <option value="3">Sometimes</option>
        <option value="4">Fairly Often</option>
        <option value="5">Very Often</option>
        </select>
      </div>
      
      
      <br>
      <br>
      <label id=typemodel>Select one of the Models:</label><select name="model" id="model" required="required">
        <option value="1">K nearest neighbors</option>
        <option value="2">Decision tree</option>
        <option value="3">Random forest</option>
        <option value="4">Neural network</option>
        <option value="5">Stack</option>
        </select>
      <br>
      <br>

      <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
      
      
      
      
    </form>

   <br>
   <br>
   <h1>{{ prediction_text }}</h1>
   <br>
   <br>
    <div style="align-self: center;">
    <table class="tg" style="undefined;table-layout: fixed; width: 87%; margin: 0 auto; border:1px solid;text-align:center">
      <colgroup>
      <col style="width: 30%">
      <col style="width: 50%">
      <col style="width: 20%">
      </colgroup>
      <thead>
        <tr>
          <th class="tg-tgez">Model</th>
          <th class="tg-tgez">Prediction</th>
          <th class="tg-tgez">Accuracy</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="tg-0lax">K nearest neighbors</td>
          <td class="tg-baqh">{{ pred_knn }}</td>
          <td class="tg-baqh">0.6666</td>
        </tr>
        <tr>
          <td class="tg-0lax">Decision tree</td>
          <td class="tg-baqh">{{ pred_dt }}</td>
          <td class="tg-baqh">0.8563</td>
        </tr>
        <tr>
          <td class="tg-0lax">Random forest</td>
          <td class="tg-baqh">{{ pred_rf }}</td>
          <td class="tg-baqh">0.9885</td>
        </tr>
        <tr>
          <td class="tg-0lax">Neural network</td>
          <td class="tg-baqh">{{ pred_nn }}</td>
          <td class="tg-baqh">0.8505</td>
        </tr>
        <tr>
          <td class="tg-0lax">Stack</td>
          <td class="tg-baqh">{{ pred_stack }}</td>
          <td class="tg-baqh">0.8448</td>
        </tr>
      </tbody>
    </table>
   <br>
   <br>
   </div>
   <div id="top_x_div" style="width: 700px; height: 300px; margin: 0 auto; border:1px solid;text-align:center"></div>
   <br>
   <br>
 </div>
 

</body>
</html>